initial_dialog_GUI.py
save_layout_dialog_GUI.py
error_dialog_GUI.py
*.jpg
.directory
__pycache__/
.idea/
*.png
*.log
*.zip
*.kicad_prl
metadata_package.json
metadata.json
restore_layout_dialog_GUI.py
/SaveRestoreSourceProject/fp-info-cache
/SaveRestoreDestinationProject/fp-info-cache
/SaveRestoreSourceProject/save_restore_source_project-backups
/SaveRestoreDestinationProject/save_restore_destination_project-backups
/SaveRestoreDestinationProject/save_restore_destination_project_deep.kicad_pcb
/SaveRestoreDestinationProject/save_restore_destination_project_shallow_same.kicad_pcb
/SaveRestoreDestinationProject/save_restore_destination_project_shallow_same.kicad_pro
/SaveRestoreDestinationProject/save_restore_destination_project_shallow_same_alt.kicad_pcb
/SaveRestoreDestinationProject/save_restore_destination_project_shallow_same_alt.kicad_pro
/SaveRestoreSourceProject/test_deep.pckl
/SaveRestoreSourceProject/test_shallow.pckl
/SaveRestoreSourceProject/test_shallow_alt.pckl
/SaveRestoreSourceProject_path_issue/fp-info-cache
/SaveRestoreSourceProject_path_issue
/SaveRestoreDestinationProject/save_restore_destination_project_deep.kicad_pro
/SaveRestoreSourceProject/test_shallow_remote_alt.json
/SaveRestoreSourceProject/test_deep.json
/SaveRestoreSourceProject/test_shallow.json
/SaveRestoreSourceProject/test_shallow_alt.json
/SaveRestoreSourceProject/test_shallow_remote.json
/SaveRestoreSourceProject/test_shallow_remote_alt.pckl
/SaveRestoreSourceProject/test_shallow_remote.pckl
/SaveRestoreDestinationProject/save_restore_destination_project_shallow_different.kicad_pcb
/SaveRestoreDestinationProject/save_restore_destination_project_shallow_different.kicad_pro
