initial_dialog_GUI.py
save_layout_dialog_GUI.py
error_dialog_GUI.py
*.jpg
.directory
__pycache__/
.idea/
*.png
*.log
*.zip
*.kicad_prl
metadata_package.json
metadata.json
restore_layout_dialog_GUI.py
